@media only screen and (max-width: 768px) {
    body>div , body>section{
        /* display: none; */
    }
    #mytable td {
        min-width: 5em;
    }
    .scrollablecontainer{
        overflow-x: auto;       /* Enable horizontal scrolling */
        white-space: nowrap;    /* Prevent wrapping */
    }
    footer::before{
        content: "This App is made Exclusive for Desktop or Landscape Mode";
        font-size: xx-large;
        font-weight: bolder;
        padding: 30px;
        display: flex;
        justify-content: center;
        text-align: center;        
    }
}