.heading-text{
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
}
nav>h2::before {
    margin-left: auto;
}
nav>h2::after,nav>h2::before {
    content: '';
    width: 8%;
    height: 4px;
    background: #dc3545;
    display: block;
    transition: 2s;
    margin-top: 5px;
}
nav>h2::before {
    background: rgba(1, 106, 137, 0.827);
}
nav>h2:hover::after, nav>h2:hover::before {
    width: 90%;
}
nav> .btn{
    box-shadow: 1px 1px 7px  #000000;
    transition: 0.2s;
}
nav> .btn:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
nav> .btn:active{
    transform: scale(1.00);
    transition: 0.2s;
}
.text{
    font-family:"Montserrat", sans-serif;
}
body{
    background-color: rgb(240, 244, 249);
}
.card{
    transition: 0.2s;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.2s;
}
.card-img-overlay{
    /* background-color: rgba(0, 0, 0, 0.596); */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));    
    color: white;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    border-radius: 15px !;
    transition: 0.2s;
}
.card-img-overlay:hover{
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}
.card-img-overlay p{
    color: rgb(219, 218, 218) !important;
}
.signinbox, .signupbox{
    border-radius: 30px;
    width: 75%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#signin_button,#signup_button{
    background-color: #DC3545;
    transition: ease-in 0.5s;
}
#signin_button:hover,#signup_button:hover{
    background-color: #0D6EFD;
    transition: ease-out 0.5s;
}
#add_row, #delete_row{
    background-color: rgba(255, 255, 255, 0);
    height: 45px; 
    width: 45px; 
}
.bording{
    border-style: solid;
    border-width: 3px !important;
    border-color: rgb(103, 103, 103);
}
.bus-dep{
    position: relative;
    /* old design - bus arrival and departure border*/
    /* border-right-style: dotted !important; */    
    /* border-right-width: 10px !important; */
    /* border-right-color: rgb(255, 162, 1) !important; */
    /* border-right-color: #ff384c !important; */
}
.bus-arr{
    position: relative;
    /* border-right-style: dotted !important;  */
    /* border-right-width: 10px !important; */
    /* border-right-color: rgb(0, 113, 165) !important; */
    /* border-right-color: #3385ff !important; */
}
.bus-arr::after, .bus-dep::before{ 
    content: "";
    position: absolute;
    width: 10px;
}
.bus-arr::after {
    top: 0;
    left: 0;
    background: rgba(0, 125, 163, 0.827) ;
    animation: wavedown 2s ease-in-out infinite;
}
.bus-dep::before {
    bottom: 0;
    right: 0;
    background: #ff384c;
    animation: waveup 2s ease-in-out infinite;
}
@keyframes wavedown {
    0% {
        opacity: 1;
        height: 30%;
    }
    90% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 100%;
    }
}
@keyframes waveup {
    0% {
        opacity: 1;
        height: 30%;
    }
    90% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 100%;
    }    
}
.more_lectures{
    color: orange;
}
.less_lectures{
    color: red;
}
.correct_lectures{
    color: green;
}
.more_lectures::after{
    content: "\25B2";
    color: orange;
    padding-left: 5px;
    animation: fade 2s ease-in-out infinite;
}
.correct_lectures::after{
    content: "\2B24";
    color: green;
    padding-left: 5px;
    animation: fade 2s ease-in-out infinite;
}
.less_lectures::after{
    content: "\25BC";
    color: red;
    padding-left: 5px;
    animation: fade 2s ease-in-out infinite;
}
@keyframes fade {
    0%,100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
/* removes the margin but it looks bad in viewing portal as it uses same css in between might seperate it in future */
#mytable td {
    padding: 0px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    vertical-align:top;
}
.day_highlight{
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}
.bg-primary {
    background-color: rgba(1, 106, 137, 0.827) !important;
}
.bg-danger {
    background-color: #dc3545 !important;
}
.bg-peela{
    background-color: #ffc107 !important;
    color: black !important;
}
.flash{
    animation: flash 1s infinite;
}
@keyframes flash {
    0%, 100% {
        color: red;
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
    50% {
        color: yellow;
        text-shadow: 0 0 10px rgb(0, 0, 0);
    }
}
#profile_img{
    border: 1px solid rgba(138, 138, 138, 0.162) !important;
    height: 50px;
    width: 50px;
}
/* 3d button start */
.button {
    position: relative;
    border-width: 0;
    padding: 0 8px 12px;
    min-width: 10em;
    box-sizing: border-box;
    background: transparent;
    font: inherit;
    cursor: pointer;
}
.button-top-blue, .button-top-red {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    padding: 8px 16px;
    transform: translateY(0);
    text-align: center;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, .25);
    transition-property: transform;
    transition-duration: .2s;
    -webkit-user-select: none;
    user-select: none;
}
.button:active .button-top-blue ,.button:active .button-top-red,
.button:disabled .button-top-blue ,.button:disabled .button-top-red {
    transform: translateY(6px);
}
table>tbody>tr{
    border: 3px solid black !important;
}
#teacher_detail>tbody>tr{
    border-bottom: 0px !important;
}
.button-top-blue::after, .button-top-red::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-image: radial-gradient(#0c88a0,#04667a);
    text-align: center;
    color: #fff;
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .2), 0 1px 2px 1px rgba(255, 255, 255, .2);
    transition-property: border-radius, padding, width, transform;
    transition-duration: .2s;
}
.button-bottom-blue, .button-bottom-red {
    position: absolute;
    z-index: -1;
    bottom: 4px;
    left: 4px;
    border-radius: 8px / 16px 16px 8px 8px;
    padding-top: 6px;
    width: calc(100% - 8px);
    height: calc(100% - 10px);
    box-sizing: content-box;
    background-color: #007086;
    background-image: radial-gradient(4px 8px at 4px calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(4px 8px at calc(100% - 4px) calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(16px at -4px 0, white, transparent), radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5), inset 0 -1px 3px 3px rgba(0, 0, 0, .4);
    transition-property: border-radius, padding-top;
    transition-duration: .2s;
}
.button:active .button-bottom-blue, .button:active .button-bottom-red ,
.button:disabled .button-bottom-blue, .button:disabled .button-bottom-red  {
    border-radius: 10px 10px 8px 8px / 8px;
    padding-top: 0;
}
.button:disabled .button-top-blue, .button:disabled .button-top-red {
    color: #b6b6b6;
    text-shadow: none;
    transition: ease-in-out 0.5s;
}
/* red color below and blue color + red color above */
.button-top-red::after {
    background-image: radial-gradient(#dc3545,#9f1d2a);
}
.button-bottom-red {
    background-color: #9f1d2a; 
}
/* 3d button end */

/* toggle switch start */
.switch {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
}
.toggle {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-colorcolor);
    transition: 0.3s;
}
.slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;
}
.toggle:checked+.slider {
    background-color: var(--input-focus);
}
.toggle:checked+.slider:before {
    transform: translateX(30px);
}
.toggle:disabled + .slider {
    opacity: 0.5;
    background-color: grey;
}
/* toggle switch end */
.form-select{
    border-radius: 0% !important;
    /* margin: 0px !important; */
}
.room_textinput{
    border-radius: 0% !important;
}
/* rise and sink animation start*/
@keyframes rise {
    0% {transform: translateY(100%);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}
@keyframes sink {
    0% {transform: translateY(0);opacity: 1;}
    100% {transform: translateY(100%);opacity: 0;}
}
.rise {
    animation: rise 1s forwards;
}
.sink {
    animation: sink 1s forwards;
}
/* rise and sink animation end*/
::-webkit-scrollbar {
    height: 10px; /* Height for horizontal scrollbar */
    width: 10px; /*Width for vertical scrollbar*/
}
.under-development {
    position: relative;
}
.under-development::before {
    content: "";        
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;                                 
    height: 100%;
    background-color: rgba(161, 161, 161, 0.199);      
    background-image: url('/assets/image/under-development.png');     
    background-size:contain ;                   
    background-position: center ;               
    background-repeat: no-repeat;
    z-index: 3; 
}