.loaderdiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 500;
    backdrop-filter: blur(50px);
    background : rgba(0,0,0,0.5);   
    /* background : linear-gradient( #dc354686,#2a819c94) ;    */
    height: 100vh;
    width: 100vw;
}
@media only screen and (max-width: 900px) {
    .loaderdiv{
        display: none;
    }
}
logodiv{
    width: 100vb;
}
logodiv>h1{
    font-size: 3em;
    color: white;
    text-shadow: 5px 5px 5px  #000;
}
logodiv > h1::before {
    margin-left: auto;
    content: '';
    width: 8%;
    height: 7px;
    background: rgba(1, 106, 137, 0.827);
    box-shadow: 2px 2px 5px  #000000;
    display: block;
    margin-top: 10px;
    animation: expandBefore 1s 8 alternate; /* 2 matlab 2 baar occilation */
}
logodiv > h1::after {
    content: '';
    width: 8%;
    height: 7px;
    background: #dc3545;
    box-shadow: 2px 2px 5px  #000000;
    display: block;
    margin-top: 5px;
    animation: expandAfter 1s 8 alternate;
}
/* Keyframes for the before pseudo-element */
@keyframes expandBefore {
    10% {
        width: 8%;
    }
    100% {
        width: 90%;
    }
}
/* Keyframes for the after pseudo-element */
@keyframes expandAfter {
    10% {
        width: 8%;
    }
    100% {
        width: 90%;
    }
}
/* scroll bar css start */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f0f4f9;
}
::-webkit-scrollbar-thumb {
    background: #555;
}
::-webkit-scrollbar-thumb:hover {
    background: #414040;
}
/* scroll bar css end */