.heading-text{
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
}
.text{
    font-family:"Montserrat", sans-serif;
}
body{
    background-color: rgb(240, 244, 249);
}
.signinbox{
    border-radius: 30px;
    width: 75%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.signupbox{
    border-radius: 30px;
    width: 75%;
    background-color: rgb(255, 255, 255);
}
#signin_button,#signup_button{
    background-color: #DC3545;
    transition: ease-in 0.5s;
}
#signin_button:hover,#signup_button:hover{
    background-color: #0D6EFD;
    transition: ease-out 0.5s;
}
#add_row{
    background-color: rgba(255, 255, 255, 0);
    height: 45px; 
    width: 45px; 
}
.bording{
    border-style: solid;
    border-width: 3px;
    border-color: rgb(103, 103, 103);
}
.bus-dep{
    border-right-style: dotted;
    border-right-width: 10px;
    border-right-color: rgb(231, 178, 3);
    border-right-color: #ef1f34;
}
.bus-arr{
    border-right-style: dotted;
    border-right-width: 10px;
    border-right-color: rgb(21, 168, 5);
    border-right-color: #3385ff;
}
/* removes the margin but it looks bad in viewing portal as it uses same css in between might seperate it in future */
#mytable td {
    padding: 0px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}
