.heading-text{
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
}
.text{
    font-family:"Montserrat", sans-serif;
}
body{
    background-color: rgb(240, 244, 249);
}
.signinbox{
    border-radius: 30px;
    width: 75%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.signupbox{
    border-radius: 30px;
    width: 75%;
    background-color: rgb(255, 255, 255);
}
#signin_button,#signup_button{
    background-color: #DC3545;
    transition: ease-in 0.5s;
}
#signin_button:hover,#signup_button:hover{
    background-color: #0D6EFD;
    transition: ease-out 0.5s;
}
#add_row, #delete_row{
    background-color: rgba(255, 255, 255, 0);
    height: 45px; 
    width: 45px; 
}
.bording{
    border-style: solid;
    border-width: 3px !important;
    border-color: rgb(103, 103, 103);
}
.bus-dep{
    border-right-style: dotted !important;
    border-right-width: 10px !important;
    border-right-color: rgb(255, 162, 1) !important;
    border-right-color: #ff384c !important;
}
.bus-arr{
    border-right-style: dotted !important; 
    border-right-width: 10px !important;
    border-right-color: rgb(0, 113, 165) !important;
    border-right-color: #3385ff !important;
}
/* removes the margin but it looks bad in viewing portal as it uses same css in between might seperate it in future */
#mytable td {
    padding: 0px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    vertical-align:top;
}
.day_highlight{
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}
@media only screen and (max-width: 900px) {
    body>div {
    display: none;
    }
    footer::before{
        content: "This App is made Exclusive for Desktop";
        font-size: xx-large;
        font-weight: bolder;
        padding: 30px;
        display: flex;
        justify-content: center;        
    }
}
.bg-primary {
    background-color: rgba(1, 106, 137, 0.827) !important;
}
.bg-danger {
    background-color: #dc3545 !important;
}
.bg-peela{
    background-color: #ffc107 !important;
    color: black !important;
}
li{
   font-size:medium;
   color: red; 
   font-weight: 500;
}