<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Class-Sync | Timetable Viewer - Faculty</title>
	<script src="/assets/js/redirection.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anta&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

	<link rel="stylesheet" href="../../assets/css/loader.css" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="stylesheet" href="../../assets/css/responsive_block_view.css" />
	<link rel="icon" href="../../assets/image/logo.png">
</head>

<body>
	<!-- header start -->
	<nav class="navbar navbar-expand mx-3">
		<img src="../../assets/image/logo.png" height="75px" class="d-inline-block align-text-top ">
		<h2 class="mx-3 my-3 heading-text">Class-Sync Timetable Manager</h2>
	</nav>
	<!-- header end -->
	
	<!-- course sem year detail div start -->
	<div class="container-fluid mt-5">
		<div class="container">
			<h1 class="center text fw-bold">Timetable viewing Portal - Faculty</h1>
		</div>
		
		<!-- course sem year details start -->
		<div class="container">
			<div class="row mt-3">
				<div class="col-md-11">
					<div class="form-floating">
						<select class="form-select mb-3 text" name="course" id="teacher_option">
							<option value="2118517">Mr. Saumitra Chattopadhyay</option>
							<option value="2118510">Dr. Susheela Dahiya</option>
							<option value="2118504">Dr. Ashok Kumar Sahoo</option>
							<option value="2118506">Dr. Mahesh Manchanda</option>
							<option value="2118521">Ms. Manisha Aeri</option>
							<option value="2118530">Ms. Lisa Gopal</option>
							<option value="2118533">Mr. Abhishek Sharma</option>
							<option value="2118538">Mr. Purushottam Das</option>
							<option value="2118542">Mr. Mukesh Kumar</option>
							<option value="2118509">Dr. Gunjan Chhabra</option>
							<option value="2118523">Mr. Samir Rana</option>
							<option value="2118532">Mr. Chetan Pandey</option>
							<option value="2118541">Ms. Himadari Vaidya</option>
							<option value="2118508">Mr. A. B. Desai</option>
							<option value="2118511">Dr. Ajay Narayan Shukla</option>
							<option selected value="2118513">Mr. Piyush Bagla</option>
							<option value="2118522">Mr. Sushant Chamoli</option>
							<option value="2118525">Ms. Ayushi Jain</option>
							<option value="2118528">Mr. Chandradeep Bhatt</option>
							<option value="2118529">Mr. Akash Chauhan</option>
							<option value="2118534">Mr. Sandeep Chand Kumain</option>
							<option value="2118501">Dr. Sanjay Jasola (VC)</option>
							<option value="2118512">Dr. Amit Kumar Mishra</option>
							<option value="2118503">Dr. Mahantesh Pattanshetti</option>
							<option value="2118507">Dr. Prateek Srivastava</option>
							<option value="2118515">Dr. Vikrant Sharma</option>
							<option value="2118518">Ms. Manika Manwal</option>
							<option value="2118531">Mr. Amit Gupta</option>
							<option value="2118537">Ms. Richa Gupta</option>
							<option value="2118516">Mr. Avnish Panwar</option>
							<option value="2118519">Ms. Sonali Gupta</option>
							<option value="2118524">Ms. Aditya Verma</option>
							<option value="2118526">Ms. Preeti Chaudhary</option>
							<option value="2118535">Mr. Rahul Chauhan</option>
							<option value="2118540">Dr. Jyoti Joshi</option>
							<option value="2118527">Ms. Poonam Rani</option>
							<option value="2118539">Dr. Devesh Tiwari</option>
							<option value="2118502">Dr. R. Gowri</option>
							<option value="2118505">Dr. Vrince Vimal</option>
							<option value="2118514">Mr. B. P. Dubey</option>
							<option value="2118520">Dr. Rishika Yadav</option>
							<option value="2118536">Dr. Satvik Vats</option>
							<option value="2118555">Mr. Amrish Sharma</option>
							<option value="2118548">Ms. Pallavi Tiwari</option>
							<option value="2118543">Mr. Deepak Upadhyay</option>
							<option value="2118546">Ms. Shruti Bhatla</option>
							<option value="2118558">Dr. Jyoti Ramola</option>
							<option value="2118561">Dr. Vivek Chamoli</option>
							<option value="2118564">Dr. Mohit Payal</option>
							<option value="2118566">Ms. Ishita Uniyal</option>
							<option value="2118567">Ms. Anshu Sharma</option>
							<option value="2118570">Dr. Devesh P Singh</option>
							<option value="2118573">Ms. Neelam Kathait</option>
							<option value="2118550">Ms. Sonal Malhotra</option>
							<option value="2118565">Ms. Deeksha Naithani</option>
							<option value="2118551">Ms. Shagun Singh Dasawat</option>
							<option value="2118557">Dr. Jyoti Kandpal</option>
							<option value="2118562">Dr. Arun Pratap Singh Rathod</option>
							<option value="2118571">Mr. P.A Ananad</option>
							<option value="2118544">Ms. Preeti Badhani</option>
							<option value="2118547">Mr. Animesh Srivastava</option>
							<option value="2118545">Mr. Kapil Rajput</option>
							<option value="2118556">Ms. Priyanka Nautiyal</option>
							<option value="2118559">Mr. Divesh Kumar</option>
							<option value="2118563">Mr. Vineet Singh Deopa</option>
							<option value="2118569">Dr. Ankit Tomar</option>
							<option value="2118552">Mr. Aditya Agnihotri</option>
							<option value="2118553">Mr. Saksham Mitta</option>
							<option value="2118568">Mr. Saurabh Fulara</option>
							<option value="2118549">Mr. Nitin Thapliyal</option>
							<option value="2118560">Dr. Saurabh Agarwal</option>
							<option value="2118554">Ms. Priyanshi Aggarwal</option>
							<option value="2118572">Mr. Ashish Garg</option>							
						</select>
						<label for="teacher_option" class="heading-text text">Faculty Name</label>
					</div>
				</div>
				<div class="col-md-1 text-center d-flex align-items-center justify-content-center">
					<div class="text-center">
						<label class="switch">
							<input class="toggle" type="checkbox" id="toggle_event">
							<span class="slider round"></span>
							<span class="card-side"></span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- course sem year details end -->
	</div>
	<!-- course sem year detail div end -->

	<!-- main table div start -->
	<div class="container-fluid" id="ttdiv">
		<!-- main table div start -->
		<div class="container-fluid">
			<table class="table text-center align-middle mb-0 pb-0" id="teacher_detail">
				<th class="text table-light fw-bold py-3 h5 col-8" scope="col">Faculty Name : </th>
				<th class="text table-light fw-bold py-3 h5 col-4" scope="col">Faculty ID No : </th>
			</table>
		 </div>
		<div class="container-fluid scrollablecontainer">			
			<table class="table text-center align-middle" id="mytable">
				<thead>
					<tr>
						<th class="text table-light border-dark border-3" scope="col"><i class="bi bi-twitter-x h5" style="-webkit-text-stroke: 1px;"></i></th>
						<th class="text table-light border-dark border-3" scope="col">08-09</th>
						<th class="text table-light border-dark border-3" scope="col">09-10</th>
						<th class="text table-light border-dark border-3" scope="col">10-11</th>
						<th class="text table-light border-dark border-3" scope="col">11-12</th>
						<th class="text table-light border-dark border-3" scope="col">12-01</th>
						<th class="text table-light border-dark border-3" scope="col">01-02</th>
						<th class="text table-light border-dark border-3" scope="col">02-03</th>
						<th class="text table-light border-dark border-3" scope="col">03-04</th>
						<th class="text table-light border-dark border-3" scope="col">04-05</th>
						<th class="text table-light border-dark border-3" scope="col">05-06</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="table-light border-dark border-3" scope="row">MON</th>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
					</tr>
					<tr>
						<th class="table-light border-dark border-3" scope="row">TUE</th>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
						<td class="text bg-success border-dark border-3"></td>
					</tr>
					<tr>
						<th class="table-light border-dark border-3" scope="row">WED</th>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
					</tr>
					<tr>
						<th class="table-light border-dark border-3" scope="row">THU</th>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
						<td class="text bg-warning border-dark border-3"></td>
					</tr>
					<tr>
						<th class="table-light border-dark border-3" scope="row">FRI</th>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
					</tr>
					<tr>
						<th class="table-light border-dark border-3" scope="row">SAT</th>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
						<td class="text bg-danger border-dark border-3"></td>
					</tr>
					<tr>
						<th class="table-light border-dark border-3" scope="row">SUN</th>
						<td class="text bg-primary border-dark border-3"></td>
						<td class="text bg-primary border-dark border-3"></td>
						<td class="text bg-primary border-dark border-3"></td>
						<td class="text bg-primary border-dark border-3"></td>
						<td class="text bg-primary border-dark border-3"></td>
						<td class="text bg-primary border-dark border-3"></td>
						<td class="text bg-primary border-dark border-3"></td>
						<td class="text bg-primary border-dark border-3"></td>
						<td class="text bg-primary border-dark border-3"></td>
						<td class="text bg-primary border-dark border-3"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- main table div end -->

	</div>
	<!-- main table div end -->

	<!-- footer div start -->
	<footer class="bd-footer py-4 py-md-5">
		<logodiv class="loaderdiv" id="loader"></logodiv>
		<div class="position-fixed bottom-0 end-0 m-3" style="max-width: 25rem; z-index: 1000;" id="message_container"></div> <!-- this is float message-->
		<div class="container pt-md-5 px-4 px-md-3 text-body-secondary">
			<a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/">
				<img src="../../assets/image/logo.png" height="75px" class="d-inline-block align-text-top">
				<h2 class="my-3 heading-text fs-5 mx-2">Class-Sync Timetable Manager</h2>
			</a>
			<ul class="list-unstyled small">
				<li class="text mb-2">Designed and built with all the love and passion in the world by <a
						class="link-danger" href="https://github.com/ayush-saklani"><b>ayush-saklani</b></a> <b>X</b> <a
						class="link-primary" href="https://github.com/RawatDevanshu"><b>RawatDevanshu</b></a>.</li>
				<li class="text mb-2">Currently v1.0.0.</li>
			</ul>
			<ul class="h4 list-unstyled d-flex">
				<a target="_blank" href="https://www.linkedin.com/in/devanshurawat/" class="mx-1"><i
						class="bi bi-linkedin text text-primary"></i></a>
				<a target="_blank" href="https://github.com/RawatDevanshu" class="mx-1"><i
						class="bi bi-github text text-primary"></i></a>
				<p class="mx-2"> <b> X </b> </p>
				<a target="_blank" href="https://www.linkedin.com/in/ayush-saklani/" class="mx-1"><i
						class="bi bi-linkedin text text-danger"></i></a>
				<a target="_blank" href="https://github.com/ayush-saklani" class="mx-1"><i
						class="bi bi-github text text-danger"></i></a>
			</ul>
		</div>
	</footer>
	<!-- footer div end -->
	<script src="../../assets/js/loader.js"></script>
	<script src="../../assets/js/float_error_card_func.js"></script>
	<script src="../../assets/js/bus_timing.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
	<script src="TT_view_teacher.js"></script>

</body>

</html>