nav>h2::before {
    margin-left: auto;
}

nav>h2::after,
nav>h2::before {
    content: '';
    width: 8%;
    height: 4px;
    background: var(--brand-red);
    display: block;
    transition: 2s;
    margin-top: 5px;
}

nav>h2::before {
    background: var(--brand-cyan);
}

nav>h2:hover::after,
nav>h2:hover::before {
    width: 90%;
}