@import "tailwindcss";

:root {
  /* Brand Colors */
  --brand-red: #dc3545;
  --brand-cyan: #016a89d3;

  /* Background Colors */
  --bg-primary: #007bff;
  --bg-secondary: #6c757d;
  --bg-success: #28a745;
  --bg-danger: #dc3545;
  --bg-warning: #ffc107;
  --bg-info: #17a2b8;
  --bg-light: #f8f9fa;
  --bg-dark: #343a40;
  --bg-black: #000000;
  --bg-white: #ffffff;
  --bg-background: #f8f9fa;
  --bg-red: #fb4934;
  --bg-green: #b8bb26;
  --bg-yellow: #fabd2f;
  --bg-blue: #83a598;
  --bg-purple: #d3869b;
  --bg-aqua: #8ec07c;
  --bg-orange: #fe8019;
  --bg-gray: #918273;

  /* Dim Colors */
  --dim-red: #cc2412;
  --dim-green: #98971a;
  --dim-yellow: #d79921;
  --dim-blue: #458588;
  --bright-blue: #1b8085;
  --dim-purple: #b16286;
  --dim-aqua: #699d6a;
  --dim-orange: #d65d0e;
  --dim-gray: #a89984;

  /* Background Variations */
  --hard-background: #1d2021;
  --medium-background: #282828;
  --soft-background: #323027;
  --background-1: #3c3836;
  --background-2: #504945;
  --background-3: #665c54;
  --background-4: #7c6764;

  /* Foreground Colors */
  --foreground: #fbf1c7;
  --foreground-1: #ebdbb2;
  --foreground-2: #d5c4a1;
  --foreground-3: #bdae93;
  --foreground-4: #a89984;

  /* Vim Theme Colors */
  --vim-dark0: #0d0e0f;
  --vim-dark: #202020;
  --vim-background-dark: #242424;
  --vim-background: #282828;
  --vim-background-light: #32302f;
  --vim-foreground: #ebdbb2;
  --vim-gray: #dedede;
  --vim-medium-gray: #504945;
  --vim-comment: #665c54;
  --vim-milk: #e7d7ad;
  --vim-error-red: #cc241d;
  --vim-red: #fb4934;
  --vim-orange: #d65d0e;
  --vim-bright-yellow: #fabd2f;
  --vim-soft-yellow: #eebd35;
  --vim-pink: #d4879c;
  --vim-magenta: #b16286;
  --vim-soft-green: #98971a;
  --vim-forest-green: #689d6a;
  --vim-clean-green: #8ec07c;
  --vim-blue-gray: #458588;
  --vim-dark-gray: #83a598;
  --vim-light-blue: #7fa2ac;
}